In [6]:
import psycopg
from sqlalchemy import create_engine
import pandas as pd

DB_URI = "postgresql+psycopg://postgres:kigrax-9Kaqje-vuxmav@analytics.cifysgssswkf.us-east-1.rds.amazonaws.com:5432/postgres"
engine = create_engine(DB_URI)

conn = psycopg.connect(
    host="analytics.cifysgssswkf.us-east-1.rds.amazonaws.com",
    port=5432,
    dbname="postgres",
    user="postgres",
    password="kigrax-9Kaqje-vuxmav"
)
cur = conn.cursor()

### <span style="color:#001533">EXPLAIN без індексів</span>

In [7]:
def explain(query):
    print("QUERY:", query)
    cur.execute("EXPLAIN " + query)
    rows = cur.fetchall()
    for r in rows:
        print(r[0])
    print("\n" "\n")

In [25]:
explain('SELECT * FROM instances;')

QUERY: SELECT * FROM instances;
Seq Scan on instances  (cost=0.00..870.00 rows=10000 width=575)

In [26]:
explain('SELECT * FROM instances LIMIT 10;')

QUERY: SELECT * FROM instances LIMIT 10;
Limit  (cost=0.00..0.87 rows=10 width=575)
  ->  Seq Scan on instances  (cost=0.00..870.00 rows=10000 width=575)

In [27]:
explain('SELECT * FROM instances WHERE "Bird" BETWEEN 1 AND 5;')

QUERY: SELECT * FROM instances WHERE "Bird" BETWEEN 1 AND 5;
Seq Scan on instances  (cost=0.00..920.00 rows=28 width=575)
  Filter: (("Bird" >= '1'::double precision) AND ("Bird" <= '5'::double precision))

### <span style="color:#001533">Bird (BTREE)</span>

In [28]:
explain('SELECT * FROM instances WHERE "Bird" BETWEEN 1 AND 5;')

QUERY: SELECT * FROM instances WHERE "Bird" BETWEEN 1 AND 5;
Seq Scan on instances  (cost=0.00..920.00 rows=28 width=575)
  Filter: (("Bird" >= '1'::double precision) AND ("Bird" <= '5'::double precision))

In [29]:
cur.execute('CREATE INDEX IF NOT EXISTS bird_ind ON instances("Bird");')
conn.commit()

In [30]:
explain('SELECT * FROM instances WHERE "Bird" BETWEEN 1 AND 5;')

QUERY: SELECT * FROM instances WHERE "Bird" BETWEEN 1 AND 5;
Index Scan using bird_ind on instances  (cost=0.29..12.02 rows=28 width=575)
  Index Cond: (("Bird" >= '1'::double precision) AND ("Bird" <= '5'::double precision))

### <span style="color:#001533">DISTINCT source (текстовий індекс BTREE)</span>

In [31]:
explain('SELECT DISTINCT source FROM instances;')

QUERY: SELECT DISTINCT source FROM instances;
HashAggregate  (cost=895.00..895.02 rows=2 width=10)
  Group Key: source
  ->  Seq Scan on instances  (cost=0.00..870.00 rows=10000 width=10)

In [32]:
cur.execute('CREATE INDEX IF NOT EXISTS source_ind ON instances("source");')
conn.commit()

In [33]:
explain('SELECT DISTINCT source FROM instances;')

QUERY: SELECT DISTINCT source FROM instances;
Unique  (cost=0.29..219.28 rows=2 width=10)
  ->  Index Only Scan using source_ind on instances  (cost=0.29..194.28 rows=10000 width=10)

### <span style="color:#001533">Car (діапазон >1 AND <3)</span>

In [34]:
explain('SELECT * FROM instances WHERE "Car" > 1 AND "Car" < 3;')

QUERY: SELECT * FROM instances WHERE "Car" > 1 AND "Car" < 3;
Seq Scan on instances  (cost=0.00..920.00 rows=981 width=575)
  Filter: (("Car" > '1'::double precision) AND ("Car" < '3'::double precision))

In [35]:
cur.execute('CREATE INDEX IF NOT EXISTS car_ind ON instances("Car");')
conn.commit()

In [36]:
explain('SELECT * FROM instances WHERE "Car" > 1 AND "Car" < 3;')

QUERY: SELECT * FROM instances WHERE "Car" > 1 AND "Car" < 3;
Bitmap Heap Scan on instances  (cost=22.34..848.13 rows=981 width=575)
  Recheck Cond: (("Car" > '1'::double precision) AND ("Car" < '3'::double precision))
  ->  Bitmap Index Scan on car_ind  (cost=0.00..22.09 rows=981 width=0)
        Index Cond: (("Car" > '1'::double precision) AND ("Car" < '3'::double precision))

### <span style="color:#001533">JOIN оптимізація</span>

In [37]:
explain('SELECT i."Car" FROM instances i, metadata m '
        'WHERE i.orig_id = m.orig_id AND m.year = 2023 LIMIT 20;')

QUERY: SELECT i."Car" FROM instances i, metadata m WHERE i.orig_id = m.orig_id AND m.year = 2023 LIMIT 20;
Limit  (cost=450.19..604.10 rows=20 width=8)
  ->  Hash Join  (cost=450.19..1796.94 rows=175 width=8)
        Hash Cond: (i.orig_id = (m.orig_id)::double precision)
        ->  Seq Scan on instances i  (cost=0.00..870.00 rows=10000 width=16)
        ->  Hash  (cost=448.00..448.00 rows=175 width=8)
              ->  Seq Scan on metadata m  (cost=0.00..448.00 rows=175 width=8)
                    Filter: (year = 2023)

In [38]:
cur.execute('CREATE INDEX IF NOT EXISTS metadata_year_ind ON metadata("year");')
cur.execute('CREATE INDEX IF NOT EXISTS metadata_orig_id_ind ON metadata("orig_id");')
cur.execute('CREATE INDEX IF NOT EXISTS instances_orig_id_ind ON instances("orig_id");')
conn.commit()

In [39]:
explain('SELECT i."Car" FROM instances i, metadata m '
        'WHERE i.orig_id = m.orig_id AND m.year = 2023 LIMIT 20;')

QUERY: SELECT i."Car" FROM instances i, metadata m WHERE i.orig_id = m.orig_id AND m.year = 2023 LIMIT 20;
Limit  (cost=5.93..130.55 rows=20 width=8)
  ->  Nested Loop  (cost=5.93..1096.35 rows=175 width=8)
        ->  Bitmap Heap Scan on metadata m  (cost=5.64..289.22 rows=175 width=8)
              Recheck Cond: (year = 2023)
              ->  Bitmap Index Scan on metadata_year_ind  (cost=0.00..5.60 rows=175 width=0)
                    Index Cond: (year = 2023)
        ->  Index Scan using instances_orig_id_ind on instances i  (cost=0.29..4.60 rows=1 width=16)
              Index Cond: (orig_id = (m.orig_id)::double precision)

### <span style="color:#001533">Hash Index (Road = 2)</span>

In [40]:
explain('SELECT COUNT(*) FROM instances WHERE "Road" = 2;')

QUERY: SELECT COUNT(*) FROM instances WHERE "Road" = 2;
Aggregate  (cost=895.92..895.93 rows=1 width=8)
  ->  Seq Scan on instances  (cost=0.00..895.00 rows=368 width=0)
        Filter: ("Road" = '2'::double precision)

In [41]:
cur.execute('CREATE INDEX IF NOT EXISTS road_hash_ind ON instances USING hash("Road");')
conn.commit()

In [42]:
explain('SELECT COUNT(*) FROM instances WHERE "Road" = 2;')

QUERY: SELECT COUNT(*) FROM instances WHERE "Road" = 2;
Aggregate  (cost=660.21..660.22 rows=1 width=8)
  ->  Bitmap Heap Scan on instances  (cost=18.85..659.29 rows=368 width=0)
        Recheck Cond: ("Road" = '2'::double precision)
        ->  Bitmap Index Scan on road_hash_ind  (cost=0.00..18.76 rows=368 width=0)
              Index Cond: ("Road" = '2'::double precision)

### <span style="color:#001533">GIN index для full-text search у gadm</span>

In [46]:
explain(
'SELECT COUNT(*) FROM gadm WHERE to_tsvector(\'english\', "COUNTRY") '
'@@ to_tsquery(\'english\', \'United\');'
)

QUERY: SELECT COUNT(*) FROM gadm WHERE to_tsvector('english', "COUNTRY") @@ to_tsquery('english', 'United');
Aggregate  (cost=154.61..154.62 rows=1 width=8)
  ->  Bitmap Heap Scan on gadm  (cost=8.80..154.49 rows=50 width=0)
        Recheck Cond: (to_tsvector('english'::regconfig, "COUNTRY") @@ '''unit'''::tsquery)
        ->  Bitmap Index Scan on country_gin_ind  (cost=0.00..8.79 rows=50 width=0)
              Index Cond: (to_tsvector('english'::regconfig, "COUNTRY") @@ '''unit'''::tsquery)

In [47]:
cur.execute(
    'CREATE INDEX IF NOT EXISTS gadm_country_gin_ind '
    'ON gadm USING gin(to_tsvector(\'english\', "COUNTRY"));'
)
conn.commit()

In [48]:
explain(
'SELECT COUNT(*) FROM gadm WHERE to_tsvector(\'english\', "COUNTRY") '
'@@ to_tsquery(\'english\', \'United\');'
)

QUERY: SELECT COUNT(*) FROM gadm WHERE to_tsvector('english', "COUNTRY") @@ to_tsquery('english', 'United');
Aggregate  (cost=154.61..154.62 rows=1 width=8)
  ->  Bitmap Heap Scan on gadm  (cost=8.80..154.49 rows=50 width=0)
        Recheck Cond: (to_tsvector('english'::regconfig, "COUNTRY") @@ '''unit'''::tsquery)
        ->  Bitmap Index Scan on gadm_country_gin_ind  (cost=0.00..8.79 rows=50 width=0)
              Index Cond: (to_tsvector('english'::regconfig, "COUNTRY") @@ '''unit'''::tsquery)

### <span style="color:#001533">BRIN index</span>

In [50]:
cur.execute('CREATE INDEX IF NOT EXISTS metadata_year_brin_ind '
            'ON metadata USING brin("year");')
conn.commit()

In [51]:
explain('SELECT * FROM metadata WHERE "year" = 2020;')

QUERY: SELECT * FROM metadata WHERE "year" = 2020;
Seq Scan on metadata  (cost=0.00..448.00 rows=2027 width=221)
  Filter: (year = 2020)

In [52]:
cur.close()
conn.close()

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

# Improve execution of queries from lab10 via indexing.

In [26]:
q1 = """
SELECT 
    g.urban_term,
    AVG(p."Beautiful") AS avg_beautiful,
    AVG(p."Boring") AS avg_boring,
    AVG(p."Depressing") AS avg_depressing,
    AVG(p."Lively") AS avg_lively,
    AVG(p."Safe") AS avg_safe,
    AVG(p."Wealthy") AS avg_wealthy
FROM ghsl g
JOIN perception p USING(uuid)
GROUP BY g.urban_term
ORDER BY g.urban_term;
"""

In [27]:
q2 = """
SELECT 
    pl.place,
    AVG(p."Beautiful") AS avg_beautiful,
    AVG(p."Boring") AS avg_boring,
    AVG(p."Depressing") AS avg_depressing,
    AVG(p."Lively") AS avg_lively,
    AVG(p."Safe") AS avg_safe,
    AVG(p."Wealthy") AS avg_wealthy
FROM places365 pl
JOIN perception p USING(uuid)
GROUP BY pl.place
ORDER BY pl.place;
"""

In [28]:
q3 = """
SELECT 
    g."COUNTRY",
    AVG(p."Beautiful") AS avg_beautiful,
    AVG(p."Boring") AS avg_boring,
    AVG(p."Depressing") AS avg_depressing,
    AVG(p."Lively") AS avg_lively,
    AVG(p."Safe") AS avg_safe,
    AVG(p."Wealthy") AS avg_wealthy
FROM gadm g
JOIN perception p USING(uuid)
GROUP BY g."COUNTRY"
ORDER BY g."COUNTRY";
"""

In [29]:
print("EXPLAIN BEFORE INDEXING\n")
explain(q1)
explain(q2)
explain(q3)

EXPLAIN BEFORE INDEXING

QUERY:
SELECT
    g.urban_term,
    AVG(p."Beautiful") AS avg_beautiful,
    AVG(p."Boring") AS avg_boring,
    AVG(p."Depressing") AS avg_depressing,
    AVG(p."Lively") AS avg_lively,
    AVG(p."Safe") AS avg_safe,
    AVG(p."Wealthy") AS avg_wealthy
FROM ghsl g
JOIN perception p USING(uuid)
GROUP BY g.urban_term
ORDER BY g.urban_term;

Sort  (cost=825.58..825.60 rows=8 width=62)
  Sort Key: g.urban_term
  ->  HashAggregate  (cost=825.26..825.46 rows=8 width=62)
        Group Key: g.urban_term
        ->  Hash Join  (cost=360.00..650.26 rows=10000 width=62)
              Hash Cond: (p.uuid = g.uuid)
              ->  Seq Scan on perception p  (cost=0.00..264.00 rows=10000 width=85)
              ->  Hash  (cost=235.00..235.00 rows=10000 width=51)
                    ->  Seq Scan on ghsl g  (cost=0.00..235.00 rows=10000 width=51)



QUERY:
SELECT
    pl.place,
    AVG(p."Beautiful") AS avg_beautiful,
    AVG(p."Boring") AS avg_boring,
    AVG(p."Depressing") AS avg_depressing,
    AVG(p."Lively") AS avg_lively,
    AVG(p."Safe") AS avg_safe,
    AVG(p."Wealthy") AS avg_wealthy
FROM places365 pl
JOIN perception p USING(uuid)
GROUP BY pl.place
ORDER BY pl.place;

Sort  (cost=825.04..825.58 rows=216 width=58)
  Sort Key: pl.place
  ->  HashAggregate  (cost=811.26..816.66 rows=216 width=58)
        Group Key: pl.place
        ->  Hash Join  (cost=346.00..636.26 rows=10000 width=58)
              Hash Cond: (p.uuid = pl.uuid)
              ->  Seq Scan on perception p  (cost=0.00..264.00 rows=10000 width=85)
              ->  Hash  (cost=221.00..221.00 rows=10000 width=47)
                    ->  Seq Scan on places365 pl  (cost=0.00..221.00 rows=10000 width=47)



QUERY:
SELECT
    g."COUNTRY",
    AVG(p."Beautiful") AS avg_beautiful,
    AVG(p."Boring") AS avg_boring,
    AVG(p."Depressing") AS avg_depressing,
    AVG(p."Lively") AS avg_lively,
    AVG(p."Safe") AS avg_safe,
    AVG(p."Wealthy") AS avg_wealthy
FROM gadm g
JOIN perception p USING(uuid)
GROUP BY g."COUNTRY"
ORDER BY g."COUNTRY";

Sort  (cost=1005.16..1005.59 rows=175 width=57)
  Sort Key: g."COUNTRY"
  ->  HashAggregate  (cost=994.26..998.64 rows=175 width=57)
        Group Key: g."COUNTRY"
        ->  Hash Join  (cost=389.00..819.26 rows=10000 width=57)
              Hash Cond: (g.uuid = p.uuid)
              ->  Seq Scan on gadm g  (cost=0.00..404.00 rows=10000 width=46)
              ->  Hash  (cost=264.00..264.00 rows=10000 width=85)
                    ->  Seq Scan on perception p  (cost=0.00..264.00 rows=10000 width=85)

In [30]:
cur.execute("CREATE INDEX IF NOT EXISTS ghsl_uuid_ind ON ghsl(uuid);")
cur.execute("CREATE INDEX IF NOT EXISTS perception_uuid_ind ON perception(uuid);")
cur.execute("CREATE INDEX IF NOT EXISTS places_uuid_ind ON places365(uuid);")
cur.execute("CREATE INDEX IF NOT EXISTS gadm_uuid_ind ON gadm(uuid);")

cur.execute("CREATE INDEX IF NOT EXISTS ghsl_urban_ind ON ghsl(urban_term);")
cur.execute("CREATE INDEX IF NOT EXISTS places_place_ind ON places365(place);")
cur.execute("CREATE INDEX IF NOT EXISTS gadm_country_ind ON gadm(\"COUNTRY\");")

conn.commit()

In [31]:
print("EXPLAIN AFTER INDEXING\n")
explain(q1)
explain(q2)
explain(q3)

EXPLAIN AFTER INDEXING

QUERY:
SELECT
    g.urban_term,
    AVG(p."Beautiful") AS avg_beautiful,
    AVG(p."Boring") AS avg_boring,
    AVG(p."Depressing") AS avg_depressing,
    AVG(p."Lively") AS avg_lively,
    AVG(p."Safe") AS avg_safe,
    AVG(p."Wealthy") AS avg_wealthy
FROM ghsl g
JOIN perception p USING(uuid)
GROUP BY g.urban_term
ORDER BY g.urban_term;

Sort  (cost=825.58..825.60 rows=8 width=62)
  Sort Key: g.urban_term
  ->  HashAggregate  (cost=825.26..825.46 rows=8 width=62)
        Group Key: g.urban_term
        ->  Hash Join  (cost=360.00..650.26 rows=10000 width=62)
              Hash Cond: (p.uuid = g.uuid)
              ->  Seq Scan on perception p  (cost=0.00..264.00 rows=10000 width=85)
              ->  Hash  (cost=235.00..235.00 rows=10000 width=51)
                    ->  Seq Scan on ghsl g  (cost=0.00..235.00 rows=10000 width=51)



QUERY:
SELECT
    pl.place,
    AVG(p."Beautiful") AS avg_beautiful,
    AVG(p."Boring") AS avg_boring,
    AVG(p."Depressing") AS avg_depressing,
    AVG(p."Lively") AS avg_lively,
    AVG(p."Safe") AS avg_safe,
    AVG(p."Wealthy") AS avg_wealthy
FROM places365 pl
JOIN perception p USING(uuid)
GROUP BY pl.place
ORDER BY pl.place;

Sort  (cost=825.04..825.58 rows=216 width=58)
  Sort Key: pl.place
  ->  HashAggregate  (cost=811.26..816.66 rows=216 width=58)
        Group Key: pl.place
        ->  Hash Join  (cost=346.00..636.26 rows=10000 width=58)
              Hash Cond: (p.uuid = pl.uuid)
              ->  Seq Scan on perception p  (cost=0.00..264.00 rows=10000 width=85)
              ->  Hash  (cost=221.00..221.00 rows=10000 width=47)
                    ->  Seq Scan on places365 pl  (cost=0.00..221.00 rows=10000 width=47)



QUERY:
SELECT
    g."COUNTRY",
    AVG(p."Beautiful") AS avg_beautiful,
    AVG(p."Boring") AS avg_boring,
    AVG(p."Depressing") AS avg_depressing,
    AVG(p."Lively") AS avg_lively,
    AVG(p."Safe") AS avg_safe,
    AVG(p."Wealthy") AS avg_wealthy
FROM gadm g
JOIN perception p USING(uuid)
GROUP BY g."COUNTRY"
ORDER BY g."COUNTRY";

Sort  (cost=1005.16..1005.59 rows=175 width=57)
  Sort Key: g."COUNTRY"
  ->  HashAggregate  (cost=994.26..998.64 rows=175 width=57)
        Group Key: g."COUNTRY"
        ->  Hash Join  (cost=389.00..819.26 rows=10000 width=57)
              Hash Cond: (g.uuid = p.uuid)
              ->  Seq Scan on gadm g  (cost=0.00..404.00 rows=10000 width=46)
              ->  Hash  (cost=264.00..264.00 rows=10000 width=85)
                    ->  Seq Scan on perception p  (cost=0.00..264.00 rows=10000 width=85)

In [32]:
select_mv = """
SELECT
    g."NAME_2" AS area_name,
    SUM(value::int) AS total_objects
FROM instances i
JOIN gadm g USING (uuid),
LATERAL jsonb_each_text(
    to_jsonb(i) - 'uuid' - 'source' - 'orig_id'
) AS each(key, value)
GROUP BY g."NAME_2"
ORDER BY total_objects DESC;
"""

In [33]:
print("EXPLAIN BEFORE INDEXES:\n")
explain(select_mv)

EXPLAIN BEFORE INDEXES:

QUERY:
SELECT
    g."NAME_2" AS area_name,
    SUM(value::int) AS total_objects
FROM instances i
JOIN gadm g USING (uuid),
LATERAL jsonb_each_text(
    to_jsonb(i) - 'uuid' - 'source' - 'orig_id'
) AS each(key, value)
GROUP BY g."NAME_2"
ORDER BY total_objects DESC;

Sort  (cost=31451.20..31452.39 rows=476 width=18)
  Sort Key: (sum((each.value)::integer)) DESC
  ->  HashAggregate  (cost=31425.27..31430.03 rows=476 width=18)
        Group Key: g."NAME_2"
        ->  Nested Loop  (cost=529.01..21425.27 rows=1000000 width=42)
              ->  Hash Join  (cost=529.00..1425.26 rows=10000 width=609)
                    Hash Cond: (i.uuid = g.uuid)
                    ->  Seq Scan on instances i  (cost=0.00..870.00 rows=10000 width=636)
                    ->  Hash  (cost=404.00..404.00 rows=10000 width=47)
                          ->  Seq Scan on gadm g  (cost=0.00..404.00 rows=10000 width=47)
              ->  Function Scan on jsonb_each_text each  (cost=0.01..1.01 rows=100 width=32)

In [34]:
cur.execute("CREATE INDEX IF NOT EXISTS instances_uuid_ind ON instances(uuid);")
cur.execute("CREATE INDEX IF NOT EXISTS gadm_uuid_ind ON gadm(uuid);")
conn.commit()

In [35]:
print("EXPLAIN AFTER INDEXES:\n")
explain(select_mv)

EXPLAIN AFTER INDEXES:

QUERY:
SELECT
    g."NAME_2" AS area_name,
    SUM(value::int) AS total_objects
FROM instances i
JOIN gadm g USING (uuid),
LATERAL jsonb_each_text(
    to_jsonb(i) - 'uuid' - 'source' - 'orig_id'
) AS each(key, value)
GROUP BY g."NAME_2"
ORDER BY total_objects DESC;

Sort  (cost=31451.20..31452.39 rows=476 width=18)
  Sort Key: (sum((each.value)::integer)) DESC
  ->  HashAggregate  (cost=31425.27..31430.03 rows=476 width=18)
        Group Key: g."NAME_2"
        ->  Nested Loop  (cost=529.01..21425.27 rows=1000000 width=42)
              ->  Hash Join  (cost=529.00..1425.26 rows=10000 width=609)
                    Hash Cond: (i.uuid = g.uuid)
                    ->  Seq Scan on instances i  (cost=0.00..870.00 rows=10000 width=636)
                    ->  Hash  (cost=404.00..404.00 rows=10000 width=47)
                          ->  Seq Scan on gadm g  (cost=0.00..404.00 rows=10000 width=47)
              ->  Function Scan on jsonb_each_text each  (cost=0.01..1.01 rows=100 width=32)

In [36]:
conn.rollback()

cur.execute("DROP MATERIALIZED VIEW IF EXISTS total_instances_by_level2;")
conn.commit()

# Create MV again
q_mv = f"""
CREATE MATERIALIZED VIEW total_instances_by_level2 AS
{select_mv}
"""

cur.execute(q_mv)
conn.commit()

print("Materialized view recreated successfully!")

Materialized view recreated successfully!